/*====================================================================================================================================
======== HERO ===========
====================================================================================================================================*/

.projet_hero {
    padding-top: 100px;
    padding-bottom: 50px;
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .head {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .tag {
        color: var(--color-secondary);
        padding: 7px 30px;
        border-top: 2px var(--color-primary) solid;
        border-left: 2px var(--color-primary) solid;
        width: fit-content;
    }
}

/*====================================================================================================================================
======== INFO ===========
====================================================================================================================================*/

.info {
    padding: 50px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    h3 {
        text-transform: uppercase;
    }
    .cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .left {
        max-width: 650px;
    }
    .right {
        max-width: 550px;
    }
    .card {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .imgs {
            display: flex;
            gap: 10px;
        }
    }
}

/*====================================================================================================================================
======== PRÉSENTATION ===========
====================================================================================================================================*/

.presentation {
    padding: 50px 0;
    display: flex;
    img {
        border: 2px solid var(--color-border);
    }
}

/*====================================================================================================================================
======== ÉTAPES ET SWIPER ===========
====================================================================================================================================*/

.etapes {
    padding: 50px 0;

    .card {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    span {
        font-weight: 800;
    }
    .interieur {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    .left {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .interieur2 {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .left2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .desc {
            width: 50%;
        }
        .tags {
            flex-direction: row;
            .tag {
                height: fit-content;
            }
        }
    }
    .desc {
        border-top: 1px solid var(--color-primary);
        border-bottom: 1px solid var(--color-primary);
        padding: 20px 20px;
    }
    .tags {
        display: flex;
        flex-direction: column;
        gap: 25px;
        .tag {
            border-top: 2px solid var(--color-secondary);
            border-left: 2px solid var(--color-secondary);
            width: fit-content;
            padding: 5px 10px;
        }
    }
    .gallery {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    video {
        max-width: 584px;
        max-height: 326px;
        object-fit: cover;
    }
    .swiper {
        width: 1000px;
        height: 100%;
        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.swiper-pagination-fraction {
    top: 5%;
    width: fit-content;
    height: fit-content;
    left: 92%;
    font-size: 25px;
    color: var(--color-secondary);
    text-shadow: var(--color-bg-secondary) 0 0 5px;
}
/*====================================================================================================================================
======== MODALE ===========
====================================================================================================================================*/

.gallery img {
    cursor: pointer;
    transition: 0.3s all $ease-out-expo;
    &:hover {
        transform: scale(0.95);
    }
}

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000, $alpha: 0.7);
    color: var(--color-primary);
    z-index: 99999;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    .modalContent {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 80%;
            max-width: 900px;
        }
        .modaltxt {
            margin-top: 1em;
        }
    }
    .close {
        position: absolute;
        top: 100px;
        right: 1.5em;
        cursor: pointer;
    }
    &.appear {
        opacity: 1;
        pointer-events: all;
    }
    &.appear .modalImg,
    &.appear .modaltxt {
        animation: zoom 0.2s linear;
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/*====================================================================================================================================
======== PRODUIT FINAL ===========
====================================================================================================================================*/

.final {
    padding: 50px 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .resultat {
        display: flex;
        flex-direction: column;
        gap: 24px;
        img {
            border: 2px solid var(--color-border);
        }
    }
    .retour {
        padding-bottom: 5px;
        border-bottom: var(--color-primary) 2px solid;
        display: flex;
        align-items: center;
        gap: 10px;
        align-self: flex-start;
        transition: all 0.3s $ease-out-expo;
        h3 {
            font-size: 32px;
            font-weight: 500;
        }
        &:hover {
            gap: 20px;
            border-color: var(--color-secondary);
        }
    }
}
