/*====================================================================================================================================
======== FOOTER ===========
====================================================================================================================================*/

.footer {
    padding: 50px 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .socials {
            display: flex;
            justify-content: space-between;
            padding: 0;
            li {
                list-style-type: none;
                display: flex;
                gap: 10px;
                font-size: 18px;
                font-weight: 500;
                border-bottom: var(--color-border) 3px solid;
                padding: 10px 20px;
            }
        }
        .credit {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}
