/*====================================================================================================================================
======== FOOTER ===========
====================================================================================================================================*/

.footer {
    padding: 50px 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .socials {
            display: flex;
            justify-content: space-between;
            padding: 0;
            @media (width <= $breakpoint-md) {
                flex-wrap: wrap;
                justify-content: start;
                gap: 15px;
            }
            @media (width <= $breakpoint-xs) {
                flex-direction: column;
            }
            li {
                list-style-type: none;
                display: flex;
                gap: 10px;
                font-weight: 500;
                border-bottom: var(--color-border) 3px solid;
                padding: 10px 20px;
                @media (width <= $breakpoint-sm) {
                    width: fit-content;
                }
                .social_icon,
                .nom {
                    font-size: 18px;
                }
            }
        }
        .credit {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}
