/*====================================================================================================================================
======== HEADER ===========
====================================================================================================================================*/

.header {
    // padding: 15px;
    position: fixed;
    background-color: var(--color-bg-primary);
    width: 100%;
    z-index: 999;
    margin-bottom: 100px;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
    }
    .logo {
        font-family: var(--font-primary);
        font-size: 28px;
        font-weight: 800;
    }

    ul {
        display: flex;
        gap: 40px;

        li {
            list-style-type: none;
            border-bottom: var(--color-primary) 1px solid;
            padding-bottom: 2px;
            font-size: 20px;
            font-weight: 500;
        }
        @media (width<= $breakpoint-md) {
            display: none;
        }
    }
}
