.projets {
    padding: 100px 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 45px;
    }
    .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 48px 20px;
        border-top: 1px solid var(--color-primary);
        border-bottom: 1px solid var(--color-primary);
        .start {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}
