/*====================================================================================================================================
======== GRILLE PROJET ===========
====================================================================================================================================*/

.projets {
    padding: 100px 0;
    @media (width <= $breakpoint-sm) {
        padding: 70px 0 24px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 45px;
    }
    .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 48px 20px;
        border-top: 1px solid var(--color-primary);
        border-bottom: 1px solid var(--color-primary);
        @media (width <= $breakpoint-sm) {
            flex-direction: column;
            align-items: start;
            gap: 20px;
        }
        .start {
            display: flex;
            align-items: center;
            gap: 20px;
            @media (width <= $breakpoint-sm) {
                flex-wrap: wrap;
            }
        }
    }
}

img.swipeimage {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: fit-content;
    object-fit: cover;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
