/* ==========================================================================
   TYPOGRAPHY / ELEMENT
   ========================================================================== */

p.extrabold {
    font-weight: 800;
}
p.mini {
    font-size: 12px;
}
p.tags {
    font-size: 24px;
    font-weight: 500;
}

h1 {
    font-size: var(--font-size-h1);
    margin: 0;
    font-weight: 800;

    &.display {
        font-family: var(--font-primary);
        font-size: var(--font-size-display);
        font-weight: 800;
    }
}

h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-secondary);
    margin: 0;
    font-weight: 600;
    .h2_footer {
        font-size: #{typo(28px, 32px)};
    }
}

h3 {
    font-size: var(--font-size-h3);
    margin: 0;

    font-weight: 500;
}

h4 {
    font-size: var(--font-size-h3);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}
