/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #212121;

    // Couleurs du projet
    --color-primary: #4e6aff;

    --color-bg-primary: var(--color-white);
    --color-bg-secondary: #3e92cc;
}
