{% include '_partials/_header.html' %}

<!-- Header -->

<!-- Hero -->

<!-- Athlètes -->

<!-- Footer -->
<footer class="footer">
    <div class="wrapper">
        <a href="#" class="logo">
            <svg class="icon icon--md">
                <use xlink:href="#icon-logo"></use>
            </svg>
            <p class="logo">tim québec</p>
        </a>
        <hr />
        <nav>
            <ul>
                <li>
                    <a href="#">
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-dribble"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <p class="copyright">Tous droits réservés © 2026 tim québec.</p>
    </div>
</footer>

{% include '_partials/_footer.html' %}
